body {
  background-color: #F8F7F2;
  font-family: Helvetica
}

#map-component {
  height: 700px;
  width: 1000px;
  margin: auto;
}

.radius-input {
  margin: auto;
  width: 15%;
  padding-bottom: 1em;
}

.radius-input-slider {
  width: 100%;
}

.text-center {
  text-align: center;
}